extends layout

block content
    form#formReg.form-horizontal(method='post')
        fieldset
            legend 用户登入
            .control-group
                label.control-label(for='username') 用户名
                .controls
                    input#username.input-xlarge(type='text', name='username', value='#{username}')
            .control-group
                label.control-label(for='password') 口令
                .controls
                    input#password.input-xlarge(type='password', name='password')
            .form-actions
                button#btnReg.btn.btn-primary(type='submit') 登入
                br
                img#imgDouban(src='/img/login_with_douban_24.png',style='padding-top:10px;cursor:pointer')
                input#hidDoubanKey(type='hidden', value='#{doubanKey}')
                input#hidDomain(type='hidden', value='#{domain}')
    script(type='text/javascript')
        $(document).ready(function(){
            $('#formReg').submit(function(){
                var username = $.trim($('#username').val());
                $('#username').val(username);
                if(!username){
                    $('#msgErr').html('用户名不能为空').show();
                    return false;
                }
                var password = $('#password').val();
                var passwordRpt = $('#password-repeat').val();
                if(password.length < 6){
                    $('#msgErr').html('无效的口令').show();
                    return false;
                }
                return true;
            });
            $('#imgDouban').click(function(){
                var url = 'https://www.douban.com/service/auth2/auth?'
                            +'client_id='+$('#hidDoubanKey').val()
                            +'&redirect_uri=http://'+$('#hidDomain').val()+'/home/douban'
                            +'&response_type=code&scope=shuo_basic_r,shuo_basic_w,douban_basic_common';
                window.open(url, '_blank');
            });
        })